<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../../../global.css" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="../../components/menu/style.css" />

    <title>Recuperar senha</title>
  </head>
  <body>
    <section>
      <figure>
        <figcaption class="hidden">Recuperar senha</figcaption>
        <img src="../../assets/cadastro_lar.png" alt="Cadastro" />
      </figure>

      <form method="POST">
        <h2>Recuperar Senha</h2>
        <p>Insira o seu email</p>
        <div id="info">
          <label for="email" class="hidden">Email</label>
          <input type="email" placeholder="Email" id="email" />
        </div>

        <div id="buttonSubmit">
          <input type="submit" value="Enviar email" id="recover" />
        </div>
      </form>
    </section>

    <div id="message" class="hidden"></div>

    <script src="../../components/menu/index.js"></script>
    <script src="recoverPass.js"></script>
  </body>
</html>
